.thumb-wrap {
    padding: 10px;
    margin-bottom: 10px;
    /*display:table;*/
    border: 1px solid #e6e9ee;
    height: 100px;
}

.thumb-wrap img {
    /*   margin: 10px;*/
    /*vertical-align:top;*/
    float:left !important;
    border-radius: 5px
}

.detail {
    margin-left: 70px;
}

.title {
    font-weight: bold;
    font-size: 14px;
}

.desc {
    font-size: 12px;
}

.readmore {
    float: right;
}

.cyanbg {
    background-color: #00BCD4 !important;
    color: white;
}

.orangebg {
    background-color: #FFA500 !important;
    color: white;
}

.greenbg {
    background-color: #8BC34A !important;
    color: white;
}

.cyanbg:before, .orangebg:before, .greenbg:before {
    -webkit-transition: width;
    -moz-transition: width;
    -o-transition: width;
    transition: width;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    content: "";
    width: 120px;
    height: 100%;
    background: rgba(0,0,0,.1);
    position: absolute;
    left: 0;
    top: 0;
}

small {
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
}

.bigtext {
    font-size: 25px;
}

.blade-form {
    margin-top: 10px;
}

.add-blade-btn {
    margin-top: 10px;
}

.product-name {
    font-size: 36px;
}

.branding-header {
    background-color: $arbela-header-color !important;
    color: white;
}


 .arbelaCard .x-panel-header-default-framed .x-tool-img {
    background-color: transparent!important; 
}
.arbelaCard .x-panel-header-default-framed-horizontal .x-tool-after-title {
  top: 6px !important;
  //margin: 0 0 0 -6px !important; //new changes Apr28-2016
}
.arbelaCard .x-panel-header-default-framed-top {
  padding:0px!important;
  background-color: transparent!important;
  border-bottom: none!important;
}
.arbelaCard .x-panel-header-title-default-framed > .x-title-text-default-framed {
  padding: 5px!important;
}
/*
Grid Css Starts Here
*/
.x-grid-item.x-grid-item-alt.x-grid-item-over{
   background-color:#c1ddf1 !important;
}
.x-grid-item.x-grid-item-alt.x-grid-item-selected{
   background-color:#c1ddf1 !important;
}
.x-grid-item.x-grid-item-over{
   background-color:#c1ddf1 !important;
}
.x-grid-item.x-grid-item-selected{
   background-color:#c1ddf1 !important;
}
.x-grid-item-focused .x-grid-cell-inner:before{
   border: none !important;
}
.dslist {
.x-grid-item-focused{
   background-color:#71b1d1 !important;
}
.x-grid-item.x-grid-item-selected{
   background-color:#71b1d1 !important;
}
.x-grid-item.x-grid-item-over{
   background-color:#71b1d1 !important;
}
.x-grid-item.x-grid-item-alt.x-grid-item-over{
   background-color:#71b1d1 !important;
}
.x-grid-item.x-grid-item-alt.x-grid-item-selected{
   background-color:#71b1d1 !important;
}
}
.x-grid-item-focused{
   background-color:#c1ddf1 !important;
}
/*
.x-column-header.x-column-header-focus .x-column-header-inner:before{
   border: none !important;
}
Grid Css Ends Here
*/
.workspace_tabpanel{
.x-tab{
    .x-tab-wrap span{
      word-wrap: break-word; 
      white-space: normal; 
      max-width: 150px; 
    }
}
}
xmp{
    margin: 0px;
    font: 300 13px/15px helvetica,arial,verdana,sans-serif;
}
/** Splitter of data source panel styling issues fixed by following styles and Splitter position with panel**/
.x-splitter-focus {
    outline: none !important;
    outline-offset: none !important;
}

x-splitter.x-border-item.x-box-item.x-splitter-default.x-splitter-vertical.x-unselectable.x-focus.x-splitter-focus.x-splitter-default-focus {
    transition-duration: 100ms !important;
}
